input[type="checkbox"] + label > span.flag {
	display: block;
	width: 48px;
	height: 34px;
	cursor: pointer;
}

span.flag:hover {
	box-shadow: 0 0 10px 3px #00aaff;
}

#toggle_en_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat 0px -7px;
}

#toggle_en_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat 0px -55px;
}

#toggle_en_us_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -72px -7px;
}

#toggle_en_us_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -72px -55px;
}

#toggle_ru_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -144px -7px;
}

#toggle_ru_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -144px -55px;
}

#toggle_ua_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -216px -7px;
}

#toggle_ua_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -216px -55px;
}
