input[type="checkbox"] + label > span.flag {
	display: block;
	width: 46px;
	height: 34px;
	cursor: pointer;
}

span.flag:hover {
	box-shadow: 0 0 10px 3px #00aaff;
}

#toggle_en_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -1px -7px;
}

#toggle_en_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -1px -55px;
}

#toggle_en_us_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -73px -7px;
}

#toggle_en_us_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -73px -55px;
}

#toggle_ru_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -145px -7px;
}

#toggle_ru_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -145px -55px;
}

#toggle_ua_translation + label > span.flag {
	background: url('../images/flags.png') no-repeat -217px -7px;
}

#toggle_ua_translation:checked + label > span.flag {
	background: url('../images/flags.png') no-repeat -217px -55px;
}
